{% comment %} {% load widget_tweaks %}

<section class="container">
    <div class="container-fluid">
        <!-- ---------------------- Formulario preceptores ----------------------------------- -->
        <!-- Advanced Form Example With Validation -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Seleção de Preceptores para o Internato do Curso de Medicina EMCM/UFRN</h2>
                    </div>

                    <div class="body">
                        <form id="wizard_with_validation" method="POST">
                            {% csrf_token %}
                            <h3>DADOS PESSOAIS:</h3>
                            <fieldset>

                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <label class="form-label">Nome Completo</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ form.nome|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label>CPF</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ form.CPF|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label>CRM/RN</label>

                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ form.CRM_RN|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix">


                                    <div class="col-sm-3">
                                        <div class="form-group ">
                                            <label>Data Nascimento</label>
                                            <div class="form-line">
                                                {{ form.data_nascimento|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group ">
                                            <label>Carteira de Identidade</label>
                                            <div class="form-line">
                                                {{ form.RG|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-3">
                                        <div class="form-group ">
                                            <label>Emissor</label>
                                            <div class="form-line">
                                                {{ form.emissor_RG|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-3">
                                        <div class="form-group ">
                                            <label>UF</label>
                                            <div class="form-line">
                                                {{ form.UF_RG|add_class:'form-control show-tick' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">

                                    <div class="col-sm-2">
                                        <label>Telefone</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ form.telefone|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <label>Celular</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ form.celular_1|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <label>Celular</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ form.celular_2|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-6">
                                        <label>E-mail</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ form.email|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <label>Endereço</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ form.endereco|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label>Complemento</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ form.complemento|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row clearfix">

                                    <div class="col-sm-4">
                                        <label>Bairro</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ form.bairro|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <label>CEP</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ form.CEP|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label>Cidade</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ form.cidade|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label>UF</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ form.UF_CEP|add_class:'form-control show-tick' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <h3>DADOS BANCÁRIOS</h3>
                            <fieldset>
                                <div class="row col-lg-6">
                                    {{ form.banco|add_class:'form-control show-tick'|attr:"data-live-search:true" }}
                                    <div class="form-group form-float">
                                        <label>Agência</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ form.agencia|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-float">
                                        <label>Conta Corrente</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ form.conta|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                            <h3>DADOS PROFISSIONAIS</h3>
                            <fieldset>
                                <h2 class="card-inside-title">GRADUAÇÃO</h2>
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <label class="form-label">Graduação</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ formG.g_curso|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-label">Ano de término</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ formG.g_ano_termino|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label class="form-label">Instituição</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ formG.g_instituicao|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h2 class="card-inside-title">RESIDENCIA <small>(Caso não tenha realizado ou terminado, passar para o item seguinte)</small> </h2>
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <label class="form-label">ÁREA</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ formR.r_area|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label class="form-label">Ano de término</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ formR.r_ano_termino|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label class="form-label">Instituição</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ formR.r_instituicao|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <h2 class="card-inside-title">MESTRADO <small>(Caso não tenha realizado ou terminado, passar para o item seguinte)</small></h2>
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <label class="form-label">Área </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ formM.m_area|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-label">Ano de término</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ formM.m_ano_termino|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label class="form-label">Instituição</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ formM.m_instituicao|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h2 class="card-inside-title">DOUTORADO <small>(Caso não tenha realizado ou terminado, passar para o item seguinte)</small></h2>
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <label class="form-label">Área </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ formD.d_area|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-3">
                                        <label class="form-label">Ano de término</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ formD.d_ano_termino|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label class="form-label">Instituição</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ formD.d_instituicao|add_class:'form-control' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>


                            <h3>EXPERIÊNCIA</h3>
                            <fieldset>

                                <h2 class="card-inside-title">VÍNCULO PROFISSIONAL</h2>
                                <div class="form-group form-float">
                                    <div class="demo-checkbox">
                                        <input type="checkbox"
                                            value="SECRETARIA DE ESTADO DA SAÚDE PÚBLICA – HOSPITAL REGIONAL DE CAICÓ"
                                            id="md_checkbox_1" class="chk-col-green">
                                        <label for="md_checkbox_1"> SECRETARIA DE ESTADO DA SAÚDE PÚBLICA – HOSPITAL
                                            REGIONAL DE CAICÓ
                                        </label>
                                    </div>
                                    <div class="demo-checkbox">
                                        <input type="checkbox"
                                            value="SECRETARIA DE ESTADO DA SAÚDE PÚBLICA – HOSPITAL REGIONAL MARIANO COELHO"
                                            id="md_checkbox_2" class="chk-col-green">
                                        <label for="md_checkbox_2"> SECRETARIA DE ESTADO DA SAÚDE PÚBLICA – HOSPITAL
                                            REGIONAL MARIANO COELHO
                                        </label>
                                    </div>

                                    <div class="demo-checkbox">
                                        <input type="checkbox"
                                            value="SECRETARIA DE ESTADO DA SAÚDE PÚBLICA – HOSPITAL GISELDA TRIGUEIRO"
                                            id="md_checkbox_3" class="chk-col-green">
                                        <label for="md_checkbox_3"> SECRETARIA DE ESTADO DA SAÚDE PÚBLICA – HOSPITAL
                                            GISELDA TRIGUEIRO
                                        </label>
                                    </div>

                                    <div class="demo-checkbox">
                                        <input type="checkbox" name="entry.997606747"
                                            value="SECRETARIA DE ESTADO DA SAÚDE PÚBLICA – HOSPITAL MONSENHOR WALFREDO GURGEL"
                                            id="md_checkbox_4" class="chk-col-green">
                                        <label for="md_checkbox_4"> SECRETARIA DE ESTADO DA SAÚDE PÚBLICA – HOSPITAL
                                            MONSENHOR WALFREDO GURGEL
                                        </label>

                                    </div>

                                    <div class="demo-checkbox">
                                        <input type="checkbox" name="entry.997606747"
                                            value="SECRETARIA DE ESTADO DA SAÚDE PÚBLICA – OUTRO:"
                                            id="md_checkbox_5" class="chk-col-green CheckboxMagico">
                                        <label for="md_checkbox_5">
                                            SECRETARIA DE ESTADO DA SAÚDE PÚBLICA – OUTRO: <strong
                                                class="col-red">(ESPECIFICAR A UNIDADE ABAIXO)</strong>
                                        </label>
                                    </div>


                                    <div class="row clearfix">
                                        <div class="col-sm-6" style="margin-bottom: 0px; min-width: 70%;">
                                            <div class="form-group" style="margin-bottom: 15px;">
                                                <div class="form-line">
                                                    <input type="text" class="form-control CaixaMagica"
                                                        placeholder="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="demo-checkbox">
                                        <input type="checkbox" name="entry.997606747"
                                            value="SECRETARIA MUNICIPAL DE SAÚDE DE CAICÓ" id="md_checkbox_6"
                                            class="chk-col-green">
                                        <label for="md_checkbox_6">
                                            SECRETARIA MUNICIPAL DE SAÚDE DE CAICÓ
                                        </label>

                                    </div>

                                    <div class="demo-checkbox">
                                        <input type="checkbox" name="entry.997606747"
                                            value="SECRETARIA MUNICIPAL DE SAÚDE DE CURRAIS NOVOS"
                                            id="md_checkbox_7" class="chk-col-green">
                                        <label for="md_checkbox_7">
                                            SECRETARIA MUNICIPAL DE SAÚDE DE CURRAIS NOVOS
                                        </label>

                                    </div>

                                    <div class="demo-checkbox">
                                        <input type="checkbox" name="entry.997606747"
                                            value="SECRETARIA MUNICIPAL DE SAÚDE DE SANTA CRUZ" id="md_checkbox_8"
                                            class="chk-col-green">
                                        <label for="md_checkbox_8">
                                            SECRETARIA MUNICIPAL DE SAÚDE DE SANTA CRUZ
                                        </label>

                                    </div>

                                    <div class="demo-checkbox">
                                        <input type="checkbox" name="entry.997606747" value="OUTRO"
                                            id="md_checkbox_9" class="chk-col-green CheckboxMagico2">
                                        <label for="md_checkbox_9" style="min-width: 70%;">

                                            <div class="form-group" style="margin-bottom: 0px;">
                                                <div class="form-line">
                                                    <input type="text" class="form-control CaixaMagica2"
                                                        style="height: 20px;  padding: 0px 0px;"
                                                        placeholder="Outro tipo de vinculo Profissional:" />
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                </div>


                            </fieldset>

                            <h3>HORÁRIOS</h3>
                            <fieldset>


                                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin-bottom: 0px;">
                                        <div class="demo-checkbox">
                                            <input type="checkbox" name="entry.997606747" value="OUTRO"
                                                id="md_checkbox_10" class="chk-col-green CheckboxMagico3"
                                                style="height: 20px;  padding: 0px 0px;">
                                            <label for="md_checkbox_10">
                                                SEGUNDA-FEIRA
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-8">
                                        <div class="form-group" style="margin-bottom: 0px;">
                                            <div class="form-line">
                                                <input type="text" class="form-control CaixaMagica3"
                                                    style="height: 20px;  padding: 0px 0px;"
                                                    placeholder="Horarios reservados para alunos" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin-bottom: 0px;">
                                        <div class="demo-checkbox">
                                            <input type="checkbox" name="entry.997606747" value="OUTRO"
                                                id="md_checkbox_11" class="chk-col-green CheckboxMagico4"
                                                style="height: 20px;  padding: 0px 0px; ">
                                            <label for="md_checkbox_11">
                                                TERÇA-FEIRA
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-8">
                                        <div class="form-group" style="margin-bottom: 0px;">
                                            <div class="form-line">
                                                <input type="text" class="form-control CaixaMagica4"
                                                    style="height: 20px;  padding: 0px 0px;"
                                                    placeholder="Horarios reservados para alunos" />
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin-bottom: 0px;">
                                        <div class="demo-checkbox">
                                            <input type="checkbox" name="entry.997606747" value="OUTRO"
                                                id="md_checkbox_12" class="chk-col-green CheckboxMagico5">
                                            <label for="md_checkbox_12">
                                                QUARTA-FEIRA
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-8">
                                        <div class="form-group" style="margin-bottom: 0px;">
                                            <div class="form-line">
                                                <input type="text" class="form-control CaixaMagica5"
                                                    style="height: 20px;  padding: 0px 0px;"
                                                    placeholder="Horarios reservados para alunos" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin-bottom: 0px;">
                                        <div class="demo-checkbox">
                                            <input type="checkbox" name="entry.997606747" value="OUTRO"
                                                id="md_checkbox_13" class="chk-col-green CheckboxMagico6">
                                            <label for="md_checkbox_13">
                                                QUINTA-FEIRA
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-8">
                                        <div class="form-group" style="margin-bottom: 0px;">
                                            <div class="form-line">
                                                <input type="text" class="form-control CaixaMagica6"
                                                    style="height: 20px;  padding: 0px 0px;"
                                                    placeholder="Horarios reservados para alunos" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin-bottom: 0px;">

                                        <div class="demo-checkbox">
                                            <input type="checkbox" name="entry.997606747" value="OUTRO"
                                                id="md_checkbox_14" class="chk-col-green CheckboxMagico7">
                                            <label for="md_checkbox_14">
                                                SEXTA-FEIRA
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-8">
                                        <div class="form-group" style="margin-bottom: 0px;">
                                            <div class="form-line">
                                                <input type="text" class="form-control CaixaMagica7"
                                                    style="height: 20px;  padding: 0px 0px;"
                                                    placeholder="Horarios reservados para alunos" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin-bottom: 0px;">

                                        <div class="demo-checkbox">
                                            <input type="checkbox" name="entry.997606747" value="OUTRO"
                                                id="md_checkbox_15" class="chk-col-green CheckboxMagico8">
                                            <label for="md_checkbox_15">
                                                PLANTÃO
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-8">
                                        <div class="form-group" style="margin-bottom: 0px;">
                                            <div class="form-line">
                                                <input type="text" class="form-control CaixaMagica8"
                                                    style="height: 20px;  padding: 0px 0px;"
                                                    placeholder="Horarios reservados para alunos" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                <button type="submit" class="btn bg-teal btn-block waves-effect">
                    <h4>
                        <span>REGISTRAR</span>
                        <i class="material-icons">done_all</i>
                    </h4> 
                </button>
            </div>
                            </fieldset>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Advanced Form Example With Validation -->
    </div>
</section> {% endcomment %}

{% load widget_tweaks %}
<form id="form_validation" method="POST" action="">
    {% csrf_token %}
    <div class="body">
        <h3 class="col-teal">INFORMAÇÕES PESSOAIS</h3>
        <hr>
        <br>
        <div class="row clearfix">
            <div class="col-sm-4">
                <div class="form-group">
                    <b><span class="marcadorRequired">*</span> NOME COMPLETO</b>
                    <div class="form-line">
                        {{ form.nome|add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <b><span class="marcadorRequired">*</span> DATA DE NASCIMENTO</b>
                    <div class="form-line">
                        {{ form.data_nascimento|add_class:'form-control'|attr:"type:date" }}
                    </div>
                </div>
            </div>
            <!-- === -->
            <div class="col-sm-2">
                <div class="form-group">
                    <b><span class="marcadorRequired">*</span> CPF</b>
                    <div class="form-line">
                        {{ form.CPF|add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <!-- === -->
            <div class="col-sm-2">
                <div class="form-group">
                    <b><span class="marcadorRequired">*</span> CRM/RN</b>
                    <div class="form-line">
                        {{ form.CRM_RN|add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <!-- === -->
            <div class="col-sm-2">
                <div class="form-group">
                    <b><span class="marcadorRequired">*</span> RG</b>
                    <div class="form-line">
                        {{ form.RG|add_class:'form-control' }}
                    </div>
                </div>
            </div>   
        </div>         
        <!-- ----------------------------------------- -->
        <div class="row clearfix">
            <div class="col-sm-2">
                <div class="form-group ">
                <b><span class="marcadorRequired">*</span> ÓRGÃO EMISSOR</b>
                    <div class="form-line">
                        {{ form.emissor_RG|add_class:'form-control' }}
                    </div>
                </div>
            </div>
            {% comment %} === {% endcomment %}
            <div class="col-sm-2">
                <div class="form-group ">
                    <b><span class="marcadorRequired">*</span> ESTADO EMISSOR</label></b>
                    <div class="form-line">
                        {{ form.UF_RG|add_class:'form-control show-tick'|attr:"data-live-search:true" }}
                    </div>
                </div>
            </div>
            {% comment %} === {% endcomment %}
            <div class="col-sm-2">
                <b><span class="marcadorRequired">*</span> TELEFONE</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ form.telefone|add_class:'form-control' }}
                    </div>
                </div>
            </div>
            {% comment %} === {% endcomment %}
            <div class="col-sm-2">
                <b><span class="marcadorRequired">*</span> CELULAR</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ form.celular|add_class:'form-control' }}
                    </div>
                </div>
            </div>
            {% comment %} === {% endcomment %}
            <div class="col-sm-4">
                <b><span class="marcadorRequired">*</span> E-MAIL</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ form.email|add_class:'form-control' }}
                    </div>
                </div>
            </div>
        </div>
        {% comment %} ----------------------------------------- {% endcomment %}
        <div class="row clearfix">
            <div class="col-sm-4">
                <b><span class="marcadorRequired">*</span> ENDEREÇO</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ form.endereco|add_class:'form-control' }}
                    </div>
                </div>
            </div>
            {% comment %} === {% endcomment %}
            <div class="col-sm-2">
                <b><span class="marcadorRequired">*</span> Nº</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ form.num_endereco|add_class:'form-control' }}
                    </div>
                </div>
            </div>
            {% comment %} === {% endcomment %}
            <div class="col-sm-2">
                <b><span class="marcadorRequired">*</span> COMPLEMENTO</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ form.complemento|add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <b><span class="marcadorRequired">*</span> BAIRRO</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ form.bairro|add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <b><span class="marcadorRequired">*</span> CEP</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ form.CEP|add_class:'form-control' }}
                    </div>
                </div>
            </div>
        </div>
        {% comment %} ----------------------------------------- {% endcomment %}
        <div class="row clearfix">
            <div class="col-sm-4">
                <b><span class="marcadorRequired">*</span> CIDADE</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ form.cidade|add_class:'form-control' }}
                    </div>
                </div>
            </div>
            {% comment %} === {% endcomment %}
            <div class="col-sm-2">
                <b><span class="marcadorRequired">*</span> UF</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ form.UF_CEP|add_class:'form-control show-tick' }}
                    </div>
                </div>
            </div> 
        </div>
        {% comment %} ----------------------------------------- {% endcomment %}
        <div class="row clearfix">
            <div class="body">
                <h3 class="col-teal">INFORMAÇÕES BANCÁRIAS</h3>
                <hr>
            </div>
            <!-- === -->
            <div class="col-sm-4">
                <b><span class="marcadorRequired">*</span> BANCO</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ form.banco|add_class:'form-control show-tick'|attr:"data-live-search:true" }}
                    </div>
                </div>
            </div>
            <!-- === -->
            <div class="col-sm-2">
                <b><span class="marcadorRequired">*</span> AGÊNCIA <small>(com dígito)</small></b>
                <div class="form-group">
                    <div class="form-line">
                        {{ form.agencia|add_class:'form-control show-tick' }}
                    </div>
                </div>
            </div>
            <!-- === -->
            <div class="col-sm-3">
                <b><span class="marcadorRequired">*</span> CONTA CORRENTE <small>(com dígito)</small></b>
                <div class="form-group">
                    <div class="form-line">
                        {{ form.conta|add_class:'form-control show-tick' }}
                    </div>
                </div>
            </div>
        </div>
        <!--  ----------------------------------------- -->
        <div class="row clearfix">
            <div class="body">
                <h3 class="col-teal">DADOS PROFISSIONAIS</h3>
                <hr>
                <h4>GRADUAÇÃO</h4>
            </div>            
            <!-- === -->
            <div class="col-sm-4">
                <b><span class="marcadorRequired">*</span> CURSO</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ formG.g_curso|add_class:'form-control show-tick' }}
                    </div>
                </div>
            </div>
            <!-- === -->
            <div class="col-sm-4">
                <b><span class="marcadorRequired">*</span> INSTITUIÇÃO</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ formG.g_instituicao|add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <!-- === -->
            <div class="col-sm-2">
                <b><span class="marcadorRequired">*</span> ANO DE TÉRMINO</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ formG.g_ano_termino|add_class:'form-control' }}
                    </div>
                </div>
            </div>
        </div>
        <!-- ----------------------------------------- -->
        <div class="row clearfix">
            <div class="body">
                <h4>RESIDÊNCIA</h4>
                <i class="col-red"><small>(Caso não tenha realizado ou terminado, passar para o item seguinte)</small></i>
            </div>            
            <!-- === -->
            <div class="col-sm-4">
                <b>ÁREA</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ formR.r_area|add_class:'form-control show-tick' }}
                    </div>
                </div>
            </div>
            <!-- === -->
            <div class="col-sm-4">
                <b>INSTITUIÇÃO</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ formR.r_instituicao|add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <!-- === -->
            <div class="col-sm-2">
                <b>ANO DE TÉRMINO</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ formR.r_ano_termino|add_class:'form-control' }}
                    </div>
                </div>
            </div>
        </div>
        <!-- ----------------------------------------- -->
        <div class="row clearfix">
            <div class="body">
                <h4>MESTRADO</h4>
                <i class="col-red"><small>(Caso não tenha realizado ou terminado, passar para o item seguinte)</small></i>
            </div>            
            <!-- === -->
            <div class="col-sm-4">
                <b>ÁREA</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ formM.m_area|add_class:'form-control show-tick' }}
                    </div>
                </div>
            </div>
            <!-- === -->
            <div class="col-sm-4">
                <b>INSTITUIÇÃO</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ formM.m_instituicao|add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <!-- === -->
            <div class="col-sm-2">
                <b>ANO DE TÉRMINO</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ formM.m_ano_termino|add_class:'form-control' }}
                    </div>
                </div>
            </div>
        </div>
        <!--  ----------------------------------------- -->
        <div class="row clearfix">
            <div class="body">
                <h4>DOUTORADO</h4>
                <i class="col-red"><small>(Caso não tenha realizado ou terminado, passar para o item seguinte)</small></i>
            </div>            
            <!-- === -->
            <div class="col-sm-4">
                <b>ÁREA</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ formD.d_area|add_class:'form-control show-tick' }}
                    </div>
                </div>
            </div>
            <!-- === -->
            <div class="col-sm-4">
                <b>INSTITUIÇÃO</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ formD.d_instituicao|add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <!-- === -->
            <div class="col-sm-2">
                <b>ANO DE TÉRMINO</b>
                <div class="form-group">
                    <div class="form-line">
                        {{ formD.d_ano_termino|add_class:'form-control' }}
                    </div>
                </div>
            </div>
        </div>
        {% comment %} ----------------------------------------- {% endcomment %}
        <div class="row clearfix">
            <div class="body">
                <h3 class="col-teal">EXPERIÊNCIA</h3>
                <hr>
                <h4>VÍNCULO PROFISSIONAL</h4>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group form-float">
                    <div class="demo-checkbox">
                        {% for value, text in formV.vinculo.field.choices %}

                        {% comment %} === {% endcomment %}
                        {% if value == "SESAP-OUTRO" %}
                        <input type="checkbox"
                            id="id_vinculo_{{ forloop.counter0 }}"
                            name="vinculo"
                            class="filled-in chk-col-teal CheckboxMagico"
                            value="{{ value }}"
                            {% if value in listPag %} checked="checked" {% endif %}
                        />
                        <label for="id_vinculo_{{ forloop.counter0 }}">{{ text }} <strong class="col-red">(ESPECIFICAR A UNIDADE ABAIXO)</strong></label>
                        <div class="row clearfix">
                            <div class="col-sm-8" style="margin-bottom: 0px; min-width: 70%;">
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ formV.sesap_outro|add_class:"form-control CaixaMagica"}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% comment %} === {% endcomment %}
                        {% elif value == "OUTRO" %}
                        <input type="checkbox"
                            id="id_vinculo_{{ forloop.counter0 }}"
                            name="vinculo"
                            class="filled-in chk-col-teal CheckboxMagico2"
                            value="{{ value }}"
                            {% if value in listPag %} checked="checked" {% endif %}
                        />
                        <label for="id_vinculo_{{ forloop.counter0 }}" style="min-width: 100%;">
                            <div class="row clearfix">
                                <div class="col-sm-6" style="margin-bottom: 0px; min-width: 70%; margin-top: -10px;">
                                    <div class="form-group">
                                        <div class="form-line">
                                            {{ formV.outro_vinculo|add_class:"form-control CaixaMagica2"|attr:"placeholder:Outro tipo de Vínculo Profissional"}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </label>
                        {% comment %} === {% endcomment %}
                        {% else %}
                        <input type="checkbox"
                            id="id_vinculo_{{ forloop.counter0 }}"
                            name="vinculo"
                            class="filled-in chk-col-teal"
                            value="{{ value }}"
                            {% if value in listPag %} checked="checked" {% endif %}
                        />
                        <label for="id_vinculo_{{ forloop.counter0 }}">{{ text }}</label>
                        {% endif %}  
                        <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% comment %} ----------------------------------------- {% endcomment %}
        <div class="row clearfix">
            <div class="col-md-6">
                <h4><span class="marcadorRequired">*</span> Campos Obrigatórios</h4><br>
            </div>
        </div>
        <div class="row clearfix" align="left">
            <div class="col-md-3">
                <button type="submit" class="btn bg-teal btn-block waves-effect">
                    <h4>
                        <span>REGISTRAR</span>
                        <i class="material-icons">done_all</i>
                    </h4> 
                </button>
            </div>
            {% comment %}  {% endcomment %}
        </div>
    </div>
</form>
            