<!-- Top Bar -->
<nav class="navbar" >
    <div class="container-fluid">
        <div class="navbar-header header1">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a class="navbar-brand" href="index.html" style="padding-top: 5px;">
                <strong style="font-size: 20pt;">SMHosts</strong><br>
                <em>Sistema de Monitoramento de Hosts</em>
            </a>
        </div>
        <div class="navbar-header header2" align="center" style="margin-left: 10%; color: #fff;">
            <strong style="font-size: 20pt;">Escola Multicampi de Ciências Médicas do RN</strong><br>
            <em style="text-align: center;">EMCM/UFRN</em>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="IR PARA O INÍCIO">
                        <button type="button" class="btn btn-default waves-effect waves-teal">
                            <i class="material-icons">home</i>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="INFORMAÇÕES DO USUÁRIO">
                        <button type="button" class="btn btn-default waves-effect waves-teal">
                            <i class="material-icons">people</i>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="SAIR DO SISTEMA">
                        <button type="button" class="btn btn-default waves-effect waves-red">
                            <i class="material-icons col-red">exit_to_app</i>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- FIM do Top Bar -->